@import '../../style/mixins';
@import '../../style/variables';
@import '../../style/theme';

#projects-light, #projects-dark {
  padding: 2rem 0;

  .row {
    justify-content: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    text-align: justify;

    .project-tags {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      list-style: none;
      z-index: 1;
      padding: 0;

      li {
        margin-right: 0.5rem;
        padding: 0.5rem;
        font-family: var(--font-mono);
        font-size: 0.7rem;
        white-space: nowrap;
        border-width: 1px;
        border-style: solid;
      }
    }

    .project-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      a {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1.5rem;
        margin: 0 1rem 1rem 0;
        transition: all 0.2s ease-in;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }

    .project-image {
    }
  } 
}
