@import '../../style/mixins';
@import '../../style/variables';
@import '../../style/theme';

#welcome-light, #welcome-dark {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border: 0;
  font-weight: 300;
  padding: 1rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;

  // If you want to set a background image on the welcome section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  .welcome-message {
    font-size: $big-font-size;
    font-weight: 600;
    margin: 3rem 0;
    text-align: left;

    @include respond(phone) {
      font-size: $mid-font-size;
    }
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    a {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-right: 3rem;
      font-size: $big-font-size;

      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }
}
