@import '../../style/mixins';
@import '../../style/variables';
@import '../../style/theme';

#about-light, #about-dark {
  padding: 2rem 0;

  .section-title {
    justify-content: center;
    padding-bottom: 1rem;
  }

  .col {    
    justify-content: center;
    padding: 0 2rem;
  }

  .about-image {
    display: flex;
    height: 100%;
    padding: 0 0 2rem 0;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0.5rem 0;
  }

  #resume-button {
    display: inline-block;
    position: center;
    padding: 0.8rem;
    font-weight: bold;
    z-index: 1;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}
