// COLORS
$light-theme-primary: #f4f4f2; 
$light-theme-secondary: #e8e8e8;
$light-theme-accent: #495464;

$dark-theme-primary: #222831;
$dark-theme-secondary: #393e46;
$dark-theme-accent: #eeeeee;

// FONT SIZE
$default-font-size: 1rem;
$mid-font-size: 1.2rem;
$big-font-size: 2rem;