@import '../../style/mixins';
@import '../../style/variables';
@import '../../style/theme';

#footer-light, #footer-dark {
  padding: 1rem 0;
  text-align: center;

  .back-to-top i {
    margin: 1rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
    }
  }
}


